
<div class="container-fuild h-100" >
    <router-outlet *ngIf="!isAdminDashboard && !isOperatorDashboard && !isEmployeeDashboard && !isTeamLeaderDashboard"></router-outlet>
<app-admin-sidebar *ngIf="isAdminDashboard"></app-admin-sidebar>
<app-employee-sidebar *ngIf="isEmployeeDashboard"></app-employee-sidebar>
<app-operator-sidebar *ngIf="isOperatorDashboard"></app-operator-sidebar>
<app-team-leader-sidebar *ngIf="isTeamLeaderDashboard"></app-team-leader-sidebar>

<!-- <app-user-sidebar *ngIf="isUserDashboard"></app-user-sidebar> -->
</div>