<section>
    <div class="container">
      <div class="row m-0 ">
        <div class="col-md-4 px-5 pt-5">
          <h4 class="header">User-Role</h4>
        </div>
      </div>
      <div class="row m-0 d-flex justify-content-center ">
        <div class="col-md-8 card p-0 my-5">
          <div class="d-flex justify-content-end table-header">
            <button class="btn btn-dark" (click)="openDialog()">Add</button>
          </div>
          <div class=" table-container p-3">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Sr.no</th>
                  <th scope="col" class="text-start">Role</th>
                  <th scope="col" class="text-center">Status</th>
                  <th scope="col" class="text-center">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allUserRoleList;let i=index">
                  <th scope="row" class="text-center">{{i+1}}</th>
                  <td class="text-start">{{item.role_name}}</td>
                  <td class="text-center">
                     <mat-slide-toggle class="example-margin"
                    (change)="changeEvent($event,item.role_id)"
                     [checked]="(item.status==1)?true:false">
                    </mat-slide-toggle>
                </td>
                  <td class="text-center"><img src="..\\..\\src\assets\images\edit.svg" alt="" (click)="openDialog(item)">
                  </td>
                </tr>
                <tr *ngIf="allUserRoleList.length==0">
                  <td colspan="10" class="text-danger fw-bold text-center">No Data Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

